.button
{
    width: 150px;
    border-radius: 30px;
    border: 1px solid black;
    background-image: linear-gradient(to right top, #6ca7ff, #46f0ff, #57ffca, #48ff42, #5cff0b);
    padding: 5px;
    font-style: italic;
    font-size: large;
}
.button1
{
    width: 150px;
    border-radius: 30px;
    border: 1px solid black;
    background-image: linear-gradient(to  top , #ff7300, #ffd3ac, #ffffff, #94ff6d, #55ff00);
    padding: 5px;
    font-style: italic;
    font-size: large;
}